apiversion: v1
kind: Service
metadata:
  name: auth-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchlabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth-container
          image: us-central1-docker.pkg.dev/youtube-292903/gitops-repo/auth-service:latest
          ports:
            - containerPort: 3000
---
apiversion: v1
kind: Service
metadata:
  name: auth-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: auth
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  resources:
    limits:
      cpu: "250m"
      memory: "512mi"
    requests:
      cpu: "500m"
      memory: "1Gi"